
body {  
    font-family: Arial, sans-serif;  
    background-color: white;  
    margin: 0;  
    padding: 0;
    
} 
 
.hover {  
    background-color: rgb(223, 164, 164);  
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    padding: 30px;
          
} 
header h1 {    
    color: rgb(11, 11, 11);  
    text-align: center;
}

.templeList {  
    padding: 70px; 
}

body {  
    font-family: Arial, sans-serif;  
    background-color: white;  
    margin: 5px;  
    padding: 10px;  
}
main {
    background-color: rgb(117, 112, 112);
    margin: 0;  
    padding: 0; 
}
a:hover {  
    color: white;  
    text-decoration: none;  
}
h1,h3{
    text-align: center;
    color: purple;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}
.temple-gallery {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}  

.temple-card {
    background-color: rgb(223, 164, 164);   
    text-align: center;
    border: 1px solid purple;
    padding: 3px; 
    text-decoration-color: white; 
}  

.temple-gallery img {  
    width: 250px;
    margin: 0;  
    text-align: center;
    border: 1px solid purple;
    padding: 10px   
}  

footer {  
    background-color:  rgb(223, 164, 164); 
    color: white;  
    text-align: center;  
}  