.rating {  
    direction: rtl; /* Permet d'afficher les étoiles de droite à gauche */  
  }  
  
  .rating span {  
    font-size: 30px;  
    cursor: pointer;  
    color: lightgray; /* Couleur par défaut */  
  }  
  
  .rating span:hover,  
  .rating span:hover ~ span {  
    color: gold; /* Couleur lorsque survolée */  
  }  