:root{
    background-color: beige;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    padding: 0;

}
@media screen {
    body{
        background-color: beige;
        color: black;
        font-family: 'Arial', sans-serif;
        font-size: 1em;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
    
    
}
a:hover{
    background-color: whitesmoke;
    color: black;
    
}
footer:hover{
    background-color: rgb(180, 19, 19);
    color: white;
}
header{
    background-color: rgb(19, 180, 147);
    color: white;
    padding: 5px;
}
header h1{
    font-size: 2em;
    text-align: center;
}
.hover{
    display: flex;

    justify-content: flex-end;
    gap: 100px;
    padding: 10px;
}
.placeList {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
    margin: 10px;
}
article {
    border: 1px solid purple;
    padding: 10px;
    width: 300px;
}
article h1{
    color: rgb(7, 6, 6);
    font-size: 2em;
    font-weight: heavy;
    text-align: center;
    text-decoration: underline;
}
article img {
    width: 100%;
    float: inline-end;
}
article p{
    color: black;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}
footer{
    background-color: rgb(19, 180, 147);
    color: white;
    padding: 5px;
    text-align: center;
}