:root {
    --primary-color: #3498db; /* Global variable for primary color */
    --secondary-color: #2ecc71; /* Global variable for secondary color */
    --font-size: 16px; /* Global variable for font size */
}


body {
    background-color: var(--primary-color);
    font-size: var(--font-size);
    color: white;
}

h1::after{
    color: var(--secondary-color);
    text-align: center;
    margin-top: 20px;
}
h1{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}
@media screen {
    body{
        background-color: rgb(83, 158, 135);
        color: black;
        font-family: 'Arial', sans-serif;
        font-size: 1em;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
    
    
}
a:hover{
    background-color: whitesmoke;
    color: black;
    
}
footer:hover{
    background-color: rgb(180, 19, 19);
    color: white;
}
header{
    background-color: rgb(19, 180, 147);
    color: white;
    padding: 5px;
}
.hover{
    display: flex;

    justify-content: flex-end;
    gap: 100px;
    padding: 10px;
}
.placeList {
    
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
section{
    border: var(--secondary-color) solid 2px;
    padding: 20px;
    gap: 10px;
    margin: 10px;
}
section p{
    float: left;
}
section h2{
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
}
footer{
    background-color: rgb(19, 180, 147);
    color: white;
    padding: 5px;
    text-align: center;
}