:root{
    --siteplan-background-color: #dcc1d3;
    --siteplan-text-color: #333;
    --siteplan-border-color: #000000e9;
    --siteplan-header-color: #f8f9fa;
    --siteplan-link-color: #007bff;
    --siteplan-link-hover-color: #0056b3;
    --siteplan-form-color: #d4e2d7;
}
header{
    background-color: var(--siteplan-header-color);
    border-bottom: 2px solid var(--siteplan-border-color);
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
    font-size: 0.8em;


}
header h1{
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: var(--siteplan-text-color);
}
.blog1{
    padding: auto;
    margin: 0 auto;
    gap: auto;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.blog2{
    padding: auto;
    margin: 0 auto;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


 li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
h1, h2, h3, h4, h5, h6{
    color: var(--siteplan-text-color);
    text-align: center;
    text-transform: capitalize;
}
p{
    line-height: 1.6;
    margin: 0 0 1em;
}
a{
    text-decoration: none;
    color: var(--siteplan-link-color);
    font-weight: bold;
}
a:hover{
    color: var(--siteplan-link-hover-color);
    text-decoration: underline;
}

main{
    background-color: var(--siteplan-form-color);
    padding: 20px;	
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main h1 {
    font-size: 2em;
    margin-bottom: 15px;
    color: var(--siteplan-text-color);
}

main p {
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
    color: var(--siteplan-text-color);
}

footer{
    background-color: var(--siteplan-background-color);
    color: var(--siteplan-text-color);
    border-top: 2px solid var(--siteplan-border-color);
    margin-top: 20px;
    padding: 20px;
    
}
.footer-content{
    display: flex;
    padding: 6px;
    border: 1px solid var(--siteplan-border-color);
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.social-links{
    border: 1px solid var(--siteplan-border-color);
    width: 200px
}
.footer-links{
    border: 1px solid var(--siteplan-border-color);
    width: 200px
}
.term{
    border: 1px solid var(--siteplan-border-color);
    width: 200px

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 1.8em;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 15px;
    }

    main h1 {
        font-size: 1.5em;
    }

    main p {
        font-size: 0.9em;
    }
}